.filtersContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.viewtype {
    display: flex;
    gap: 10px;
}

.gridIcon img {
    width: 2.5rem;
    cursor: pointer;
}

.gridIcon img:hover {
    transform: scale(1.1);
}

.gridIcon1 img {
    width: 2.0rem;
    padding-top: 0.3em;
    cursor: pointer;
}

.gridIcon1 img:hover {
    transform: scale(1.1);
}

.filterGroupDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    background: #2e0052;
    border-radius: 5px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    height: 40px;
    min-width: 450px;
}

.filterGroup {
    position: relative;
    width: 200px;
}

.filterSelect {
    width: 100%;
    padding: 2px 10px;
    margin: auto;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    transition: all 0.3s ease-in-out;
    outline: none;
    cursor: pointer;
    height: 40px;
}

.filterSelect:hover,
.filterSelect:focus {
    background-color: #906fd5;
    box-shadow: 0px 4px 6px gba(52, 152, 219, 0.5);
}

.sortContainer {
    display: flex;
    align-items: center;
    border: 1px solid #C8C8C8;
    border-radius: 20px;
    gap: 10px;
    background: #2e0052;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.sortLabel {
    font-weight: normal;
    margin-left: 10px;
    font-size: 16px;
    color: #ffffff;
}

.sortSelect {
    padding: 7px;
    width: 8.5rem;
    font-size: 14px;
    margin-right: 10px;
    background-color: #ecf0f1;
    color: #2c3e50;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    height: 30px;

}

.sortSelect:hover {
    background-color: #d5dbdb;
}

.sortSelect:focus {
    box-shadow: 0px 0px 8px rgba(52, 152, 219, 0.6);
}

/* Dropdown Animation */
.sortSelect option {
    padding: 10px;
    color: #ffffff;
    background: #2e0052;
    transition: background 0.3s ease-in-out;
}

.sortSelect option:hover {
    background: #2980b9;
    color: white;
}

.filterSelect option {
    background: #2e0052;
    color: white;
    animation: fadeIn 0.3s ease-in-out;
    /* height: 1rem; */
}

/* Dropdown animation */
.filterGroup select {
    appearance: none;
    background: url("data:image/svg+xml;utf8,<svg fill='white' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24px' height='24px'><path d='M7 10l5 5 5-5z'/></svg>") no-repeat right 10px center;
    background-size: 20px;
}

.filterGroup::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: #f1c40f;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.filterGroup:hover::after {
    width: 100%;
    left: 0;
}

/* Adding animation when opening */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 1214px) {
    .filterGroup {
        position: relative;
        width: 180px;
    }

    .sortSelect {
        width: 6rem;
    }
}

@media screen and (max-width: 1094px) {
    .filterGroup {
        position: relative;
        width: 160px;
    }

}

@media screen and (max-width: 1014px) {
    .filterGroup {
        position: relative;
        width: 140px;
    }

    .sortSelect {
        padding: 8px;
        width: 6rem;
        font-size: 13px;
    }

    .sortLabel {
        font-size: 14px;
    }
}

@media screen and (max-width: 921px) {
    .filtersContainer {
        display: flex;
        overflow-x: scroll;
        width: 100%;
    }

    .filterGroup {
        width: 107px;
    }

    .filterSelect {
        width: 100%;
        padding: 6px 12px;
        font-size: 14px;
        height: 33px;
    }

    .filterGroupDiv {
        gap: 0;
        border-radius: 5px;
        height: 38px;
    }

    .sortSelect {
        padding: 5px;
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .filtersContainer {
        display: flex;
        width: 100%;
        justify-content: space-between;
        height: 50px;
        margin-top: 0.5rem;
    }

    .filterGroupDiv {
        display: flex;
        width: 500px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    }

    .filterSelect {
        padding: 6px;
        font-size: 12px;
        min-width: 100px;
        border-radius: 6px;
        height: 28px;
    }

    .sortContainer {
        border-radius: 6px;
        height: 40px;
        margin: auto;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    }

    .sortLabel {
        font-size: 12px;
        margin-right: 5px;
    }

    .sortSelect {
        padding: 6px;
        font-size: 12px;
        min-width: 100px;
        height: 25px;
    }

    .viewtype {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .filtersContainer {
        display: flex;
        width: 97%;
        margin: auto;
        justify-content: space-between;
        height: 50px;
        overflow-x: scroll;
    }

    .filtersContainer::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
      }

    .filterGroupDiv {
        display: flex;
        width: 500px;
        height: 30px;
        border-radius: 5px;
        margin-right: 1rem;
    }

    .filterSelect {
        padding: 6px;
        font-size: 12px;
        min-width: 100px;
        border-radius: 6px;
    }

    .sortContainer {
        border-radius: 6px;
        height: 32px;
        margin: auto;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
        margin-right: 0.1rem
    }

    .sortLabel {
        font-size: 12px;
        width: 42px;
    }

    .sortSelect {
        padding: 5px;
        font-size: 12px;
        min-width: 90px;
        margin: auto 0;
        margin-right: 0.1rem;
    }
}