/* FeedbackModal.module.css */

.feedbackModal {
    position: fixed;
    z-index: 999;
    bottom: 80px;
    right: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .feedbackModalContent {
    background-color: #fefefe;
    padding: 10px;
    width: 250px;
    border-radius: 10px;
    position: relative;
  }
  
  .closeButton {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    bottom: 10px;
  }
  
  .closeButton:hover,
  .closeButton:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .feedbackModalContent form div {
    margin-bottom: 10px;
  }
  
  .feedbackModalContent label {
    display: flex;
    margin-bottom: 2px;
    text-align: start;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: black;  
  }
  
  .feedbackModalContent select,
  .feedbackModalContent textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #919191;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    background: #F3F3F3;
    color: #919191;
    font-size: 0.8rem;
  }

  .feedbackModalContent select{
    height: 2rem;
    padding: 2px;
  }
  
  option {
    background: white;
    padding: 10px;
    font-size: 14px;
    border: 1px solid;
  }
  
  .feedbackModalContent textarea {
    width: 100%;
    height: 120px;
    background: #F3F3F3;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 15px;
    text-align: left;
    padding: 5px;
    resize: none;
    outline: none;  
  }
  
  .error{
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.7rem;
    color: red;
    margin: 0;
  }
  
  textarea::placeholder {
    color: #919191;
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
  }

  .pushable {
    background: #2e0052;
    border-radius: 15px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    padding-top: 4px;
    width: 50%;
    font-weight: 500;
}

.front {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    border-radius: 15px;
    font-size: 0.8rem;
    background: #4f008b;
    color: white;
    transform: translateY(-3px);
    width: 100%;
}

.pushable:active .front {
    transform: translateY(-2px);
}
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .feedbackModal {
      bottom: 115px;
      right: 10px;
    }

  .front {
      font-size: 0.8rem;
  }
  }