.sucessPageDiv {
  position: absolute;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.sucessOrderDiv {
  position: relative;
  padding: 20px;
  width: 600px;
  align-content: center;
  width: 80%;
  max-width: 600px;
  height: 500px;
  margin: auto;
  border-radius: 20px;
  border: 0px solid #E3E3E3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sucessOrderDiv img {
  margin: 0 auto 2rem;
}

.sucessOrderDiv h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: black;
}

.sucessOrderDiv p {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 32.81px;
  color: #969696;

}

.backtoHome {
  margin-top: 2rem;
}

.pushable {
  background: #2e0052;
  border-radius: 10px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  padding-top: 4px;
  width: 50%;
  font-weight: 500;
}

.front {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  border-radius: 10px;
  font-size: 0.8rem;
  background: #4f008b;
  color: white;
  transform: translateY(-3px);
  width: 100%;
}

.pushable:hover .front {
  transform: translateY(-4px);
}

@media (max-width: 900px) {
  .sucessOrderDiv {
    width: 80%;
    max-width: 600px;
    height: 400px;
  }

  .sucessOrderDiv img {
    margin: 0 auto 2rem;
    width: 10rem;
  }

  .sucessOrderDiv h2 {
    font-size: 24px;
  }

  .sucessOrderDiv p {
    font-size: 13px;
  }
}

@media (max-width: 430px) {
  .sucessOrderDiv {
    width: 80%;
  }

  .sucessOrderDiv img {
    margin: 0 auto 2rem;
    width: 6rem;
  }

  .sucessOrderDiv h2 {
    font-size: 22px;
  }

  .sucessOrderDiv p {
    font-size: 12px;
  }

  .backtoHome button {
    width: 180px;
    font-size: 14px;
    margin-top: 1rem;
  }

}